.Auth {
  &__title {
    margin: auto;
    text-align: center;
  }

  &__error {
    color: red;
    text-align: center;
  }

  &__form {
    width: Min(90%, 900px);
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &--input {
      width: 100%;
      outline: none;
      padding: 1rem;
      margin: 1rem auto;
      border: none;
    }

    &--button {
      border: none;
      outline: none;
      padding: 0.5rem;
    }

    &--description {
      font-size: 12px;
      font-weight: 300;
      span {
        padding: 0.5rem;
        cursor: pointer;
      }
    }
  }
}
