@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  min-height: 100vh;
  background-image: url("./layered-waves-haikei.svg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-size: 20px;
}

.glass {
  background: #fff;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.301));
  border-radius: 1rem;
  backdrop-filter: blur(1rem);
}
